<div class="footer pt-5 pb-2">

    <div class="container-footer">
        <div class="mb-2">
            <div>
                <div class="nuestraapp">
                    <!-- <p>app</p> -->
                    <p>Usá nuestra app</p>
                    <p>Ios y Android</p>
                    <p class="descarga-app">Descarga 
                        <a class="alink" href="https://github.com/Danouk/ecommerce">aquí</a>
                       </p>
                </div>

                <!-- <p>Ios y Android</p> -->
                <!-- <p class="descarga-app">Descarga 
                 <a href="http://">aquí</a>
                </p> -->
            </div>
        </div>
        <div class="info mb-2">                
            <p>Seguinos</p>    
            <p>Facebook</p> 
            <p>Instagram</p> 
            <p>Pinterest</p> 
        </div>
        
        <div class="info mb-2">
            <p>Nosotros</p>    
            <p>Quienes somos</p>
            <p>Donde estamos</p>
            <p>Nuestro equipo</p>
            <p>Cargar CV</p>    
        </div>
        <div class="info mb-2">
            <p>Preguntas Frecuentes</p>    
            <p>Envios</p>
            <p>Devolucions</p>
            <p>Pagos</p>  
        </div>
        <div>
            <div class="copy">
                <p>Patagonia Argentina 🇦🇷</p>

                <p>Creado por: 
                    <b class="copy-name">Debra Anouk Grimbeek</b>
                </p>
                <div class="copy-icons-social">
                    <a class="alink" href="https://github.com/Danouk">
                        <i class="fab fa-github mr-2"></i>
                    </a>
                    <a class="alink" href="https://www.linkedin.com/in/debra-grimbeek">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>