<div class="section-newsletter container-fluid p-5">
    <div class="hl container"></div>
    <div class="row">

        <div class="col-6 p-5">
            <span class="sp">enterate primero</span>
            <p class="txt-newsletter">de nuestros descuentos<br>
            y beneficios 🙌</p>
        </div>

        <div class="col-6">

            <div>
                <p class="suscribe">Suscribite</p>
            </div>


            <div class="text-white d-flex d-flex align-items-center input-container" >
                <input type="text" class="form-control" placeholder="  👉  Dejanos tu email !" >
                
                <button class="d-flex justify-content-center align-items-center m-1 input-btn">
                    <img src="../../assets/svg/arrow-grey.svg" alt="" style="width:27px; display:block">
                </button>
            </div>
        </div>
    </div>

</div>