
    <div class="d-flex justify-content-around back align-items-center">
            <div class="d-flex align-items-center">
                <i class="fas fa-shopping-cart fa-2x"></i>
                <div class="vl"></div>
                <div> 
                <b>CAMBIO Y DEVOLUCIONES</b>    
                <p>
                GRATIS A TODO EL PAÍS</p>  
                </div>
            </div>

            <div class="d-flex align-items-center">
                <i class="fas fa-shopping-cart fa-2x"></i>
                <div class="vl"></div>
                <div> 
                <b>CAMBIO Y DEVOLUCIONES</b>    
                <p>
                GRATIS A TODO EL PAÍS</p>  
                </div>
            </div>

            <div class="d-flex align-items-center">
                <i class="fas fa-shopping-cart fa-2x"></i>
                <div class="vl"></div>
                <div> 
                <b>CAMBIO Y DEVOLUCIONES</b>    
                <p>
                GRATIS A TODO EL PAÍS</p>  
                </div>
            </div>

    </div>
