@import '../../styles.scss';

.back{
    height: 25vh;
    background-color: $bg-black01;
}

i{
    color: $bg-grey00;
}

p, b{
    color: $bg-grey00;
}

@media screen and (max-width: 480px){
.back{
flex-wrap: wrap;
height: auto;
}
}