<p>product works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-center p-2 m-1" style="background-color:white;">
                <img src="{{product.image}}" alt="{{product.title}}" width="60%">
            </div>
        </div>
        <div class="col-md-6 text-white description">
            <!-- <div> -->
                <div>
                    <h4>{{product.title}}</h4>
                    <p>{{product.description}}</p>
                    <p class="price">$ {{product.price}} .-</p>
                </div>
                <div>
                    <button class="btn-huevo" style="width: 100%;" (click)="addCart(product)">Agregar al carrito</button>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
