/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/ngx-toastr/toastr.css";

@font-face {
    font-family: cherysh;
    src: url(assets/Cherish/Cherish-Regular.ttf) format("truetype");
  }

$bg-black00: #2b2b2b;
$bg-black01: #3d3d3d;
$bg-black02: #808080;
$bg-huevo: #FFDF90; 
$bg-salmon: #FF6251;
$bg-grey00: #bdbdbd;


body{
    background-color: $bg-black00;
}
.bg-black00{
    background-color: $bg-black00;
}

.bg-black01{
    background-color: $bg-black01;
}

.bg-black02{
    background-color: $bg-black02;
}

.bg-huevo{
    background-color: $bg-huevo;
}

.bg-salmon{
    background-color: $bg-salmon;
}

.bg-grey00{
    background-color: $bg-grey00;
}

.txt-white{
    color: #FFFFFF;
}

.vl {
    border-left: 1px solid $bg-grey00;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

/* TOASTR BUGFIX */
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: $bg-huevo !important;
    color: $bg-black01 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }