<app-navbar></app-navbar>
<div class="home container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="text-white">
                <div>                
                    <p class="ff p-home-back">ipsum</p>
                </div>

                <div class="p-home">
                    <p style="white-space: pre;">
                        Lorem Ipsum is <br>
                        simply dummy <br>
                          <span class="sp"> text of the</span>
                    </p>
                    <div class="text-white d-flex d-flex align-items-center input-container" >
                        <input type="text" class="form-control" placeholder=" 👋    Hola! Dejanos tu nombre" >
                        
                        <button class="d-flex justify-content-center align-items-center m-1 input-btn">
                            <img src="../../assets/svg/arrow-grey.svg" alt="" style="width:27px; display:block">
                        </button>
                    </div>
                    

                </div>
            </div>
        </div>
        <div class="col-6 text-white back">
            <img src="../../../assets/img/back-h.png" alt="" style="height: 734px;">
        </div>
    </div>

</div>
<app-banners-terms> </app-banners-terms>
<app-newsletter></app-newsletter>
<app-footer></app-footer>