@import '../../styles.scss';

.home{
    height: 75vh;
    background-color: $bg-black00;
}

.back{
    // background-image: url('../../assets/img/backhome.png');
}

.ff{
    font-family: cherysh;
}

.p-home{
    white-space: pre;
    width: 40%;
    position: absolute;
    left: 22%;
    top: 30%;
    font-size: 4rem;
    line-height: 68px;
    font-weight: 700;

    p{
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
    }

    // white-space: pre; CELULAR
    // width: 40%;
    // position: absolute;
    // left: 15%;
    // top: 390%;
    // font-size: 38px;
    // line-height: 43px;
    // font-weight: 700;
}

.p-home-back{
    position: absolute;
    color: $bg-huevo;
    top: 8%;
    left: 46%;
    font-size: 12rem;

    // position: fixed; CELULAR
    // color: #FFDF90;
    // top: 29%;
    // left: 42%;
    // font-size: 110px;
}
p{
    // text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

.img-home{
    img{
        max-width: 100%;
        height: auto;
    }
}

.sp{
    color: $bg-huevo;
}

.input-container{
    background-color: $bg-black02;
    width: 480px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 480px){
    .input-container{
        width: 250px;
    }

    .p-home{
        font-size: 2rem;
        line-height: 37px;
        position: unset ;
        margin-top: -25%;
        margin-bottom: 15%;
    }
    .p-home-back{
        font-size: 5rem;
        position: unset;
        margin-left: 46%;
        margin-top: 9%;
    }
}

input{
    background-color: transparent;
    border: transparent;

}

::-webkit-input-placeholder { color:$bg-grey00 }


.input-btn{
    background-color: $bg-grey00;
    width: 53px;
    height: 45px;
    border-radius: 44px;
}

button{
    border: none;
}

.input-btn :hover{
    background-color: $bg-huevo;
    width: 53px;
    height: 45px;
    border-radius: 44px;

}

.section-card-categories{
    height: auto;
    background-color: $bg-black00;

}

.title-section{
    font-size: 3rem;
    line-height: 68px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);
    margin-top: 5%;
    
}

.section-card{
    display: flex;
    justify-content: space-around;
}


.cardl{
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    width: 20%;
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.45);

    h1{
        font-size: 1.5rem;
        font-weight: 700;
        color: $bg-huevo;
    }

}

.imgcard{
    img{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .section-card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .cardl{
        display: flex;
        flex-direction: column;
        width: 80%;

    }

    .section-card-categories{
        height: auto;
    
    }
}