<!-- <app-navbar></app-navbar> -->
<div class="home container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="text-white">
                <div>                
                    <p class="ff p-home-back">ipsum</p>
                </div>

                <div class="p-home">
                    <p style="white-space: pre;">
                        Lorem Ipsum is <br>
                        simply dummy <br>
                          <span class="sp"> text of the</span>
                    </p>
                    <form [formGroup]="formName" (ngSubmit)="enviar()">
                    <div class="text-white d-flex d-flex align-items-center input-container" >

                        <input type="text" formControlName="user"
                        class="form-control" id="user" placeholder=" 👋    Hola! Dejanos tu nombre" >
                        
                        <button class="d-flex justify-content-center align-items-center m-1 input-btn" >
                            <img src="../../assets/svg/arrow-grey.svg" alt="" style="width:27px; display:block">
                        </button>
                    </div>
                </form>
                    

                </div>
            </div>
        </div>
        <div class="col-md-6 text-white back img-home">
            <img src="../../../assets/img/back-h.png" alt="">
        </div>
    </div>

</div>
<app-banners-terms> </app-banners-terms>

<div class="section-card-categories">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12 title-section pt-4">
                <p>Lorem Ipsum is simply dummy <span class="sp">text of the</span></p>
            </div>
        </div>

        <div class="row section-card p-lg-5">
            <div class="cardl  p-lg-4 pb-4" *ngFor="let categorie of nameCategories">
                <div>
                    <div class="imgcard">
                        <img src="../../assets/img/back-h.png" alt="" srcset="">
                    </div>
                    <div class="pt-3">
                    <h1>{{categorie}}</h1>
                        <a class="alink" routerLink="/products-categorie/{{categorie}}">Ver más <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <app-newsletter></app-newsletter> -->
<!-- <app-footer></app-footer> -->